/* Configuration de la  bannière*/
html, body{
	margin: 0;
  	padding:0;
   	height:100%;
}


/* Bannière */
p.banner{
	background-color: #99ff99;
	margin: 0;
	padding: 5vh 2vw;
}
a.banner{
	font-family: "Radio Canada";
	font-size: 2em;
	color: black;
	text-decoration: none;
}


div.accueil{
	text-align: center;
}
h1{
	font-family: "Radio Canada";
	text-align: center;
	margin: 10vh;
}


/* Boutons */
input[type=button]{
	margin: 4vh;
	
	text-decoration: none;
	color: black;
	background-color: #33ccff;
	border: solid #33ccff;
	border-radius: 5px;
	font-family: "Radio Canada";
	font-style: normal;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 22px;
	cursor: pointer;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
}
input[type=button]:hover{
	background-color: #99ff99;
	border: solid #99ff99;
}

input[type=submit]{
	text-decoration: none;
	color: black;
	background-color: #33ccff;
	border: solid #33ccff;
	border-radius: 5px;
	font-family: "Radio Canada";
	cursor: pointer;
}
input[type=submit]:hover{
	background-color: #99ff99;
}

input.calculButton,
input.modifierButton,
input.modifVilleRetour{
	margin: 1vh 1vw;
	
	text-decoration: none;
	color: black;
	background-color: #33ccff;
	border: solid #33ccff;
	border-radius: 5px;
	font-family: "Radio Canada";
	cursor: pointer;
	
	margin-top: 2vh;
	font-size: 1.2em;
	padding: 0.5vw;
}
input.calculButton:hover,
input.modifierButton:hover,
input.modifVilleRetour:hover{
	background-color: #99ff99;
	border: solid #99ff99;
}


/* Tableau */
table,th,td {
	padding: 10px;
    border-collapse: collapse;
    font-family: "Radio Canada";
}
table{
	width: 100%;
	margin-top: 3vh;
}
thead{
	padding-bottom: 2vh;
}
tbody tr:nth-child(odd) {
	background-color: rgba(153, 255, 153, 0.37);
}


/* Formulaires et champs */
label,
option{
	font-family: "Radio Canada";
}
p.enteteCalculDistance,
p.enteteModifier{
	font-size: 1.5em;
	padding-bottom: 3vh;
}
p.piedDePageModifVille{
	margin: 1vh;
	font-size: 1.5em;
	font-family: "Radio Canada";
	text-align: center;
}
input[type=text]{
	border-radius: 5px;
	border: 2px solid #33ccff;
}
input[type=text]:hover{
	border: 2px solid #99ff99;
}
select{
	padding: 5px;
    border-radius: 5px;
    border: solid 1px black;
}
div.calculDist,
div.formModif{
	margin: 3vw;
	margin-bottom: 3vw;
	font-family: "Radio Canada";
	text-align: center;
}
p.resultDistance{
	font-family: "Radio Canada";
	background-color: #99ff99;
	border: solid #99ff99;
	border-radius: 5px;
	margin-left: 35vw;
	margin-right: 35vw;
	padding: 2vw;
	
	text-align: center;
}
p.champsModifier{
	padding-bottom: 1vh;
}


/* Pages de navigation */
hr{
	width: 40%;
	margin-top: 5vh;
	margin-bottom: 5vh;
}
div.pages{
	text-align: center;
}

div.pages input{
	margin-bottom:5px;
}

footer{	
   	bottom:0;
   	width:100%;
   	height: 20px;
   	text-align: center;
   	margin-bottom: 1vh;
}
footer.bigPageFooter{	
   	width:100%;
   	height: 20px;
   	text-align: center;
   	padding: 1vh;
}

a.pagefooter:link{
	text-decoration: none;
}
a.pagefooter:visited {
  text-decoration: none;
}
a.pagefooter:hover {
  text-decoration: underline;
}

a.pagefooter:active {
  text-decoration: underline;
}
a.pagefooter{
    color: black;
    font-family: "Radio Canada";
}

div.divforfooter{
	height: calc( 100vh - 30px);
}
div.divforfooterBigPage{
	
}